h1{
    text-align: center;
    font-size: 32px;
    font-family: 'VT323', monospace;
    text-align: center;
}
html{
    height:100%;
    width:100%;
}
h2{
    font-family: 'VT323', monospace;
    text-align: center;
    font-size:40px;
}





 a{  
    font-size: 30px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #00cd00;
    padding: 0px 5px 0px 5px;
    color: #00cd00;
    margin: 10px;
    font-family: 'VT323', monospace;
}
a:hover{
    color: #00cd00;
    background-color:#000000; 

}
a:active{
    color:#FA1414;
    background-color:#00cd00; 
}
a:visited{
    background-color:#00cd00;
    color: rgb(0, 255, 0);
}


td{
    padding: 0 40px 0 40px;
  }
body{
    margin-top:0px;
    background-color:#0a0909;
    margin:0;
    
    color: #00cd00;
    background-image: url(../images/modern-razer.jpg);
    background-repeat:repeat;
}

nav ul li{
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}
main{
    width: 100%;
}
aside{
    
    padding-right: 0px;
}

tr,td{
    font-family: 'VT323', monospace;
    color: #00cd00;
    border: 0px 0px 4px 0px solid #00cd00;
    border-radius: 10px;
    text-align: center;
}	

label{
    color:#00cd00;
    background-color:transparent;
    font-family: 'VT323', monospace;
    font-size: 40px;
}
fieldset{
    font-family: 'VT323', monospace;
    border-color: #00cd00;
}
input{
    border-color: #00cd00;
    font-size:30px;	
}
input[type=text], input[type=number], input[type=email], input[type=file],input[type=password],input[type=submit], textarea{
    background-color:#000;
    color:#00cd00;
    font-family: 'VT323', monospace;
}




p{  
    color:#00cd00;
    background-color:transparent;
    font-family: 'VT323', monospace;
    font-size: 30px;
}
form{
    width:40%;
    margin: auto;
    }
#media{
    width: 700px;
    margin: auto;
}

input[type="button"] {
     color:#00cd00;
     background-color:transparent;
     font-family: 'VT323', monospace;
     font-size: 40px;
}
input[type="submit"]{
    font-size: 40px;
}
input[type="submit"]:hover, .buttons:hover{
    color:#000;
    background: #00cd00;
    font-size: 40px;
}
fieldset{
    font-size:20px;
}

